<!-- DOCUMENTO HTML -->
<!DOCTYPE html>
<html lang="pt-br">

<!-- CABEÇALHO DO DOCUMENTO -->
<head>
    <link rel="stylesheet" href="/css/css.css">
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logo1-removebg-preview.png" type="image/x-icon">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login</title>



</head>

<!-- CORPO DA PÁGINA -->
<body>

<!-- CONTAINER DO FORMULÁRIO -->
<div class="container">

    <!-- FORMULÁRIO DE LOGIN -->
    <form class="formulario"
          id="form-login">

        <!-- TÍTULO DO FORMULÁRIO -->
        <h1>Login</h1>

        <!-- CAMPO EMAIL -->
        <label for="email">
            Email
        </label>

        <input
                type="email"
                id="email"
                name="email"
                placeholder="Digite seu email"
                required>

        <!-- CAMPO SENHA -->
        <label for="senha">
            Senha
        </label>

        <input
                type="password"
                id="senha"
                name="senha"
                placeholder="Digite sua senha"
                required>

        <!-- BOTÃO DE ENTRAR -->
        <button type="submit">
            Entrar
        </button>

        <!-- LINK PARA CADASTRO -->
        <p class="link-formulario">

            Não possui conta?

            <a href="/cadastro">
                Criar conta
            </a>

        </p>

    </form>

</div>

<!-- SCRIPT DA PÁGINA -->
<script defer src="/js/main.js"></script>

</body>

</html>